@model IEnumerable<Patisserie.Models.DB.Category>

@{
    ViewData["Title"] = "Index";
}

 @if (User.IsInRole("Administrator") || User.IsInRole("Staff"))
{
    <h4 class="mb-3">Manage category</h4>
    <p>
        <a class="btn btn-success btn-primary mb-2" asp-action="Create"><i class="fa-sharp fa-solid fa-circle-plus"></i> Create New Category</a>
    </p>
}

<table class="table table-responsive">
    <thead>
        <tr class="table-active">
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CategoryId" class="btn btn-info btn-sm button_actions">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.CategoryId" class="btn btn-secondary btn-sm button_actions">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.CategoryId" class="btn btn-danger btn-sm button_actions">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
