@*@model IEnumerable<Patisserie.Models.DB.Order>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MemberId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.MemberId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.OrderId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.OrderId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.OrderId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
*@


@model IEnumerable<Patisserie.Models.DB.Order>
@using System.Globalization;
@using Patisserie.Models.DB;

<script src="https://www.paypal.com/sdk/js?client-id=AXiwmPS17nETGML3vSh4eSbR6iQC7y4cenyiMqYycsyhdAkktAriU1bjWU6LtVjgMdjr4ivDkXY4HBGX">
    // Required. Replace SB_CLIENT_ID with your sandbox client ID.
</script>



<!--free card layout found here: https://mdbootstrap.com/docs/standard/extended/shopping-carts/ and was modified to fit requirements-->
<section class="h-100 h-custom" style="background-color: #eee;">
    <div class="container p-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12">
                <div class="card card-registration card-registration-2" style="border-radius: 15px;">
                    <div class="card-body p-0">
                        <div class="row g-0">
                            <div class="col-lg-8">
                                <div class="p-5 pb-1 pl-4 pr-5">
                                    <p>
                                        <a asp-controller="Product" asp-action="Index" class="text-body link-unstyled">
                                            <i class="fas fa-long-arrow-alt-left me-2"></i>Continue shopping
                                        </a>
                                    </p>
                                </div>
                                <div class="p-5">
                                    <div class="d-flex justify-content-between align-items-center mb-5">
                                        <h4 class="fw-bold mb-0 text-black">Shopping Cart</h4>
                                        <a href="@Url.Action("ClearCart", "Cart")" class="text-muted link-unstyled">Clear Cart</a>
                                    </div>
                                    <hr class="my-4">
                                    <!-- Cart items -->
                                    @if (ViewBag.CartItems == null)
                                    {
                                        <div class="row mb-4 d-flex justify-content-between align-items-center">
                                            <div class="col-12">
                                                <p>Your shopping cart is empty.</p>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.Email)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.FirstName)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.LastName)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.Total)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.Member)
                                                    </th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in Model)
                                                {
                                                    <tr>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Email)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.FirstName)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.LastName)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Total)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Member.MemberId)
                                                        </td>
                                                        <td>
                                                            <a asp-action="Edit" asp-route-id="@item.OrderId">Edit</a> |
                                                            <a asp-action="Details" asp-route-id="@item.OrderId">Details</a> |
                                                            <a asp-action="Delete" asp-route-id="@item.OrderId">Delete</a>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    }
                                </div>
                            </div>

                            @if (ViewBag.CartItems != null)
                            {
                                <div class="col-lg-4 bg-primary rounded">
                                    <div class="p-5">
                                        <div class="col-lg-12">
                                            <h4 class="fw-bold text-white mb-4 mt-2 pt-1">Summary</h4>
                                            <hr class="my-3 text-white">
                                            <a asp-action="CheckOut" asp-controller="Order" class="btn btn-info btn-sm button_actions">Checkout</a>
                                            <div class="card rounded-3 mb-4 h-100">
                                                <div class="card-body p-4 h-100">
                                                    <div class="row">
                                                        <div class="col">
                                                            <div class="alert alert-light" id="success-message">
                                                                <strong>@ViewBag.MembershipMessage</strong>
                                                            </div>
                                                            <input id="GrandTotal" type="hidden" value="@ViewBag.DiscountedTotal" />
                                                        </div>
                                                    </div>
                                                    <div class="row d-flex justify-content-between align-items-center mb-4">
                                                        <div class="col">
                                                            <h6 class="mb-0">Total</h6>
                                                        </div>
                                                        <div class="col">
                                                            <h6 class="mb-0 text-end">$@ViewBag.DiscountedTotal <span class="currency">nzd</span></h6>
                                                            <input id="GrandTotal" type="hidden" value="@ViewBag.DiscountedTotal" />
                                                        </div>
                                                    </div>
                                                    <div class="row justify-content-center">
                                                        <div class="col text-center">
                                                            <div id="paypal-button-container"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<script>
    paypal.Buttons({
        createOrder: function (data, actions) {
            // This function sets up the details of the transaction,
            // including the amount and line item details.

            var grandTotal = '@ViewBag.DiscountedTotal';

            return actions.order.create({
                purchase_units: [{
                    amount: {
                        value: grandTotal
                    }
                }]
            });
        },
        onApprove: function (data, actions) {
            // This function captures the funds from the transaction.
            return actions.order.capture().then(function (details) {
                // This function shows a transaction success message to your buyer.
                // When ready to go live, remove the alert and show a success message within this page. For example:
                const successMessage = document.getElementById('success-message');
                successMessage.style.display = 'block';
                successMessage.innerHTML = '<strong>@ViewBag.MembershipMessage</strong>';
                // Hide the PayPal button
                const paypalButton = document.getElementById('paypal-button-container');
                paypalButton.style.display = 'none';
            });
        }

    }).render('#paypal-button-container');
</script>


@*
<script>
    function updateQuantity(productId, change) {
        var quantityElement = document.getElementById("quantity-" + productId);
        var quantity = parseInt(quantityElement.innerText);
        quantity += change;
        if (quantity < 1) {
            quantity = 1;
        }
        quantityElement.innerText = quantity;
    }
</script>*@
